swagger: '2.0'
info:
  title: EPS DoS API
  description: A reliable Directory of Service for EPS Dispensers
  version: 0.0.3
# the domain of the service
host: eps-dos.service.nhs.uk
# array of all schemes that your API supports
schemes:
  - https
produces:
  - application/json
securityDefinitions:
  ReadOnlySecurity:
    type: basic
    description: All operations require basic auth

# By default all methods need basic auth for read access
security:
  - ReadOnlySecurity: []

paths:
  /epsdispenser/byLocationAndTime:
    get:
      summary: Search dispensers by opening hours & location
      description: |
        Searches for a suitable dispenser based on patient location and opening hours, ensuring that opening times fall within the timeframe required. Returns a maximum of five matching dispensers.
      parameters:
      - name: postcode
        in: query
        description: Postcode of patient location.
        required: true
        type: string
      - name: distance
        in: query
        description: The maximum distance from postcode to search, in km. Defaults to 36.
        required: false
        allowEmptyValue: true
        type: number
        format: decimal
        default: 36.0
      - name: timeframe
        in: query
        allowEmptyValue: false
        required: true
        type: number
        format: integer
        description: |
            The number of hours from the current time within which the service must be open. Takes account of bank holidays, specified dates and timezone offsets.
      - name: availability_start
        in: query
        type: string
        required: false
        description: |
            Timestamp from which to start `timeframe` calculation. Defaults to `now()`. Should not be used in production - this is primarily to support testing.
      - name: service_type
        in: query
        description: |
            The service type to include in results. The current release only supports EPS-enabled community pharmacy:
              * `eps_pharmacy` - An EPS R2 enabled community pharmacy
        type: string
        enum: [eps_pharmacy]
      responses:
        200:
          description: Up to five dispensers matching the search cirteria, ordered by distance.
          headers:
            Warning:
              type: string
              description: |
                This header is added where one of the backing services is unavailable so the response data is being served from the cache.
                  The `111 - "Revalidation Failed"` warning code will be used in this circumstance.
          schema:
            type: array
            items:
              $ref: '#/definitions/dispenser'
        400:
          description: Invalid search
          schema:
            $ref: '#/definitions/Error'
        429:
          description: Exceeded rate limit
          headers:
            Warning:
              type: string
              description: |
                This header is added where one of the backing services is unavailable so the response data is being served from the cache.
                  The `111 - "Revalidation Failed"` warning code will be used in this circumstance.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'

  /epsdispenser/byNameAndPostcode:
    get:
      summary: Search dispensers by name
      description: Search dispensers by part name and postcode.
      parameters:
        - name: name
          in: query
          description: Part of the name of the dispenser. This is automatically wildcarded at begginging and end.
          required: true
          type: string
        - name: postcode
          in: query
          description: |
            Postcode to search within. This is used to limit the number of results. A full valid postcode is required but
            only the first part is used in the search.
          required: false
          allowEmptyValue: false
          type: string
      responses:
        200:
          description: Matching dispensers
          schema:
            type: array
            items:
              $ref: '#/definitions/dispenser'
        400:
          description: Invalid search
          schema:
            $ref: '#/definitions/Error'
        429:
          description: Exceeded rate limit
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'

definitions:
  dispenser:
    required:
    - ods
    - name
    - service_type
    - opening
    - address
    - location
    type: object
    properties:
      ods:
        type: string
        description: ODS code of the dispenser
      name:
        type: string
        description: Name of the dispenser
      service_type:
        description: |
            The service type to include in results. The current release only supports EPS-enabled community pharmacy:
              * `eps_pharmacy` - An EPS R2 enabled community pharmacy
        type: string
        enum: [eps_pharmacy]
      address:
        description: Street address of the dispenser
        type: object
        properties:
          line:
            description: Five address lines, null where blank.
            type: array
            items:
              type: string
              maxItems: 5
              minItems: 5
          postcode:
            type: string
      distance:
        description: Distance from patient location in km, where this has been provided in a search.
        type: number
        format: decimal
      patient_contact:
        description: contact details for the patient to contact the dispenser
        type: object
        properties:
          tel:
            type: string
          web_address:
            type: string
      prescriber_contact:
        description: contact details for the prescriber to contact the dispenser
        type: object
        properties:
          tel:
            type: string
          fax:
            type: string
          email:
            type: string
      location:
        type: object
        properties:
          easting:
            type: number
            format: decimal
          northing:
            type: number
            format: decimal
      opening:
        description: |
          Opening time as an open/closed pair in local time. A null value incidates closed on that day.
          Resources returned by search by location and time only include opening times within the search window.
        type: object
        properties:
          open_247:
            type: boolean
            description: indicates the service is open 24/7
          sun:
            $ref: '#/definitions/OpeningTime'
          mon:
            $ref: '#/definitions/OpeningTime'
          tue:
            $ref: '#/definitions/OpeningTime'
          wed:
            $ref: '#/definitions/OpeningTime'
          thu:
            $ref: '#/definitions/OpeningTime'
          fri:
            $ref: '#/definitions/OpeningTime'
          sat:
            $ref: '#/definitions/OpeningTime'
          bank_holiday:
            description: foo
            $ref: '#/definitions/OpeningTime'
            # TODO: this doesn't get presented well
          specified_date:
            type: array
            items:
              description: A map of date string to opening time object. Date is formated as ISO 8609 YYYY-MM-DD. Null values indicate complete closure on that date.
              type: object
              additionalProperties:
                $ref: '#/definitions/OpeningTime'
    example:
      ods: FLM42
      name: Vantage Pharmacy
      service_type: eps_pharmacy
      address:
        line:
        - 123 Brown Street
        - null
        - York
        - North Yorkshire
        postcode: YO1 3EH
      patient_contact:
        tel: 01952784465
        web_address: http://www.vantage-pharmacy.co.uk
      prescriber_contact:
        tel: 01952784470
        fax: 01952784460
      location:
        northing: 55.45673
        easting: 1.45678
      opening:
        open_247: false
        sun: null
        mon:
          - open: "08:00"
            close: "18:00"
        tue:
          - open: "08:00"
            close: "18:00"
        wed:
          - open: "08:00"
            close: "12:00"
        thu:
          - open: "08:00"
            close: "18:00"
        fri:
          - open: "08:00"
            close: "18:00"
        sat:
          - open: "09:00"
            close: "12:00"
        bank_holiday:
          - open: "08:00"
            close: "10:00"
          - open: "14:00"
            close: "16:00"
        specified_date:
          "2018-01-10":
            - open: "09:00"
              close: "12:00"
  OpeningTime:
    type: array
    items:
      type: object
      properties:
        open:
          type: string
          description: Unqualified local time in HH:MM format
        close:
          type: string
          description: Unqualified local time in HH:MM format

  Error:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string
