{
  "swagger": "2.0",
  "info": {
    "description": "Prescription Exemption Checking API",
    "version": "1.0.0",
    "title": "Prescription Exemption Checking API"
  },
  "host": "proxy.int.spine2.ncrs.nhs.uk", //TODO: confirm
  "basePath": "/https://apps.nhsbsa.nhs.uk/Prescription-Exemption/1.0.0/", //TODO: add in proxy path here
  "tags": [{
    "name": "RTEC",
    "description": "Exemptions"
  }],
  "paths": {
    "/search": {
      "post": {
        "tags": ["RTEC"],
        "summary": "Search for exemption certificates based on NHS Number, Surname, DoB and Postcode",
        "operationId": "searchUsingPOST",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [{
          "in": "body",
          "name": "searchRequest",
          "description": "searchRequest",
          "required": true,
          "schema": {
            "$ref": "#/definitions/SearchRequest"
          }
        }],
        "responses": {
          "200": {
            "description": "Exemption has been found",
            "schema": {
              "$ref": "#/definitions/SearchResponse"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/SearchResponse"
            }
          },
          "404": {
            "description": "Exemption has not been found",
            "schema": {
              "$ref": "#/definitions/SearchResponse"
            }
          },
          "500": {
            "description": "Unexpected error happened"
          },
          "503": {
            "description": "Service unavailable"
          }
        }
      }
    }
  },
  "definitions": {
    "SearchRequest": {
      "type": "object",
      "required": ["dob", "postcode", "familyname", "nhsNumber"],
      "properties": {
        "dob": {
          "type": "string",
          "format": "date",
          "example": "1993-06-22",
          "description": "Date of Birth"
        },
        "nhsNumber": {
          "type": "string",
          "example": "9434765919",
          "description": "NHS Number"
        },
        "postcode": {
          "type": "string",
          "example": "NE32JH",
          "description": "Postcode"
        },
        "familyname": {
          "type": "string",
          "example": "Test",
          "description": "Family Name"
        }
      }
    },
    "SearchResponse": {
      "type": "object",
      "properties": {
        "expiry": {
          "type": "string",
          "format": "date",
          "example": "2019-06-14",
          "description": "Expiry date"
        },
        "message": {
          "type": "string",
          "example": "gets income support (IS) - confirmed by source",
          "description": "Confirmation or error message, to be displayed to the user"
        },
        "type": {
          "type": "string",
          "example": "9005",
          "description": "Exemption type",
          "enum": ["9003",
            "9005",
            "9006",
            "9007",
            "9008",
            "9009",
            "9011",
            "9012",
            "9013",
            "9014",
            "9015"
          ]
        }
      }
    }
  }
}
