{
  "swagger": "2.0",
  "info": {
    "description": "Prescription Exemption Checking API",
    "version": "1.0.0",
    "title": "Prescription Exemption Checking API",
    "x-logo": {
      "url": "images/logo.png",
      "backgroundColor": "#FFFFFF"
    }
  },
  "securityDefinitions":{
    "Bearer":{
      "description":"Audit and provenance details must be provided in the HTTP authorisation header as an OAuth Bearer Token. This must include the claims defined in <a href='integration_cross_organisation_audit_and_provenance.html'>Cross organisation audit and provenance transport</a>",
      "type": "apiKey",
      "name": "Authorization",
      "in":"header"
    }
  },
  "host": "proxy.int.spine2.ncrs.nhs.uk",
  "basePath": "/https://dev.assured.nhsbsa.nhs.uk/rtec-api-gateway",
  "tags": [{
    "name": "Exemptions",
    "description": "Prescription Exemptions"
  }],
  "schemes": ["https"],
  "paths": {
    "/v1.0.0/search": {
      "post": {
        "tags": ["Exemptions"],
        "security":[{"Bearer":[]}],
        "summary": "Search for exemption certificates based on NHS Number, Surname, Date of Birth and Postcode",
        "operationId": "searchUsingPOST",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [{
          "in": "body",
          "name": "searchRequest",
          "description": "searchRequest",
          "required": true,
          "schema": {
            "$ref": "#/definitions/SearchRequest"
          }
        },
        {
          "in": "header",
          "name": "Ssp-TraceID",
          "description": "Consumer's TraceID (i.e. GUID/UUID). This is reflected back in the response allowing queries to be traced throughout the system",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid",
            "example":"69464636-5CC0-4C99-A041-85B664281754"
          }
        },
        {
          "in": "header",
          "name": "Ssp-From",
          "description": "Dispensing System's ASID, which needs to match the ASID held against this interaction/operation on SDS",
          "required": true,
          "schema": {
            "type": "string",
            "example":"226732150041"
          }
        },
        {
          "in": "header",
          "name": "Ssp-To",
          "description": "NHSBSA's ASID, which needs to match the ASID held against this interaction/operation on SDS and will be static dependant on environment",
          "required": true,
          "schema": {
            "type": "string",
            "example":"468894349017"
          }
        },
        {
          "in": "header",
          "name": "Ssp-InteractionID",
          "description": "The interactionID of the operation, which the requesting system needs to have registered on SDS",
          "required": true,
          "schema": {
            "type": "string",
            "example":"urn:nhs:names:services:prescription-exemptions:custom:operation:search:prescription-exemptions"
          }
        }],
        "responses": {
          "200": {
            "description": "Exemption has been found",
            "schema": {
              "$ref": "#/definitions/SearchResponse"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/SearchResponse"
            }
          },
          "404": {
            "description": "Exemption has not been found",
            "schema": {
              "$ref": "#/definitions/SearchResponse"
            }
          },
          "500": {
            "description": "Unexpected error happened"
          },
          "501": {
            "description": "Not implemented"
          },
          "503": {
            "description": "Service unavailable"
          }
        }
      }
    }
  },
  "definitions": {
    "SearchRequest": {
      "type": "object",
      "required": ["dob", "nhsNumber", "postcode", "surname"],
      "properties": {
        "dob": {
          "type": "string",
          "format": "date",
          "example": "1993-06-22",
          "description": "Date of Birth"
        },
        "nhsNumber": {
          "type": "string",
          "example": "9434765919",
          "description": "NHS Number"
        },
        "postcode": {
          "type": "string",
          "example": "NE32JH",
          "description": "Postcode"
        },
        "surname": {
          "type": "string",
          "example": "Johnson",
          "description": "Surname / Family Name"
        }
      }
    },
    "SearchResponse": {
      "type": "object",
      "properties": {
        "expiry": {
          "type": "string",
          "format": "date",
          "example": "2019-06-14",
          "description": "Expiry date"
        },
        "message": {
          "type": "string",
          "example": "Exemption has been found",
          "description": "Message"
        },
        "type": {
          "type": "string",
          "example": "9005",
          "description": "Exemption type",
          "enum": ["9003", "9005", "9006", "9007", "9008", "9009", "9011", "9012", "9013", "9014", "9015", "9016"]
        }
      }
    }
  }
}
